<!-- prettier-ignore -->
<div class="d-flex align-items-center justify-content-between mb-3">
    <div class="d-flex align-items-center gap-3">
        <h3>htmx table</h3>
        <span class="htmx-indicator" style="display: none">Loading...</span>
    </div>
    {% if features.column_settings %}
    <button class="btn btn-primary" hx-get="/table-settings-modal"
            hx-target="body" hx-swap="beforeend">Columns</button>
    {% endif %}
</div>

{% if features.search %}
<!-- prettier-ignore -->
<input class="form-control" type="search" name="q" placeholder="Search..."
       hx-get="/table-data" hx-trigger="keyup changed delay:500ms, search"
       hx-target="#table-container" hx-indicator=".htmx-indicator"
       hx-include=".table-filter" />
{% endif %}
